# Dependencies
node_modules/
.pnpm-store/

# Environment files
.env
.env.local
.env.production
.env.development

# Config files
.npmrc

# Build & Logs
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
