PORT=5000
DATABASE_URL="mysql://root:root@localhost:3306/youth_fashion"
JWT_ACCESS_SECRET="youthfashion_jwt_access_secret_key"
JWT_REFRESH_SECRET="youthfashion_jwt_refresh_secret_key"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
CLIENT_URL="http://localhost:5173"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
